<ul [ngStyle]="{'background-color':backgroundColor}">
        <li 
          *ngFor="let item of menus ;let i = index;let even = even; let odd = odd"
           [ngClass]="{ even: even, odd: odd }"
          >
          <a
            [class.active]="i === selectedIndex"
           [ngStyle]="{color:i === selectedIndex?titleActiveColor:titleColor}"
            (click)="handleSelection(i)"
            >{{ item.title }}
          
          </a>
          <span class="indicator" *ngIf="item.link === selectedTabLink"></span>
        </li>
        <!-- <ng-template #elseTamp>
            <span>hello</span>
        </ng-template> -->
        
      </ul>